# Bookmarks
alias dl='cd ~/Downloads && la'
alias doc='cd ~/Documents && la'

# Easy report
alias ls="command ls --color"
alias l='ls -l'
alias la='ls -lA'

# Shortcuts
alias c='clear'
alias с='clear'
alias path='echo -e ${PATH//:/\\n}'
alias week='date +%V'

# Vim
alias vi='nvim'
alias vim='nvim'
