[init]
	defaultBranch = main

[pull]
	rebase = true

[rebase]
	autosquash = true

[url "ssh://git@gitlab.stageoffice.ru/"]
    insteadOf = https://gitlab.stageoffice.ru/

[includeIf "gitdir:/Users/sashamelentyev/Repositories/github.com/"]
  path = .gitconfig-github

[includeIf "gitdir:/Users/sashamelentyev/go/src/gitlab.stageoffice.ru/"]
  path = .gitconfig-ncloudtech

[includeIf "gitdir:/Users/sashamelentyev/Repositories/sourcecraft.dev/"]
  path = .gitconfig-sourcecraft
