[alias]
    a = add
    aa = add -A
    c = commit --signoff
    co = checkout
    contributors = shortlog -nse
    sm = submodule

[core]
	excludesFile = ~/.gitignore_global

[user]
	name = Sasha Melentyev
	email = sasha@melentyev.io

[url "https://github.com/"]
    insteadOf = ssh://git@github.com
