[user]
	name = Sasha Melentyev
	email = sasha@m8.ru

[core]
	excludesFile = ~/.gitignore_global

[init]
	defaultBranch = main

[pull]
	rebase = true

[rebase]
	autosquash = true

[alias]
    a = add
    aa = add -A
    c = commit --signoff
    co = checkout
    contributors = shortlog -nse
    sm = submodule

[url "https://github.com/"]
    insteadOf = ssh://git@github.com
