[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "ozontech"]
	path = ozontech
	url = git@github.com:sashamelentyev/dotfiles-ozontech.git
[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:nvim-lua/kickstart.nvim.git
